<section class="header">
    <section class="content">
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="/assets/img/flame2.png">
                        <h3>Company</h3>
                        <h6>so turn the lights out</h6>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">WISH LIST (0)</a></li>
                        <li><a href="#">MY ACCOUNT</a></li>
                        <li><a href="#">SHOPPING CART</a></li>
                        <li><a href="#">CHECKOUT</a></li>
                        <li><a href="#">
                            <button type="button" class="btn btn-default"><i class="fa fa-shopping-basket"
                                                                             aria-hidden="true"></i>
                                <div class="circle">0</div>
                            </button>
                        </a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </section>
</section>

<section class="second-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a href="#">Desktops</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Laptops & Notebooks </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sony(2)</a></li>
                            <li><a href="#">Android(4)</a></li>
                            <li><a href="#">Apple(7)</a></li>
                            <li><a href="#">Acer(53)</a></li>
                            <li><a href="#">HP(78)</a></li>
                            <li><a href="#">Intel(5)</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#">Phones & PDAs</a></li>
                    <li><a href="#">Cameras</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>

<section class="third-header">
    <div class="container-fluid">
        <div class="left"><p>Welcome visitor you can login or create an account</p></div>
        <div class="right">
            <a class="navbar-brand" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
            <a class="navbar-brand" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="navbar-brand" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="navbar-brand" href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
            <div class="sign">Sign in:</div>
            <input type="text" class="form-control" placeholder="Login">
            <input type="text" class="form-control" placeholder="Password">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</section>